sudo: required

language: csharp
solution: LiteDB.NetStandard.sln
install:
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-dev-1.0.1

matrix:
  include:
    - os: linux
      dotnet: none
      mono: none
      dist: trusty

script:
  - dotnet restore ./LiteDB/LiteDB.dotnet.csproj
  - dotnet build ./LiteDB/LiteDB.dotnet.csproj
  - dotnet restore ./LiteDB.Tests/LiteDB.Tests.dotnet.csproj
  - dotnet build ./LiteDB.Tests/LiteDB.Tests.dotnet.csproj
  - dotnet test ./LiteDB.Tests/LiteDB.Tests.dotnet.csproj

