{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

<div class="banner">
    <div class="container">
        <div class="row" style="align-items: center; height: 550px;">
            <div class="col-md-5" style="padding-top: 15px">
                <img class="banner-logo" src="images/banner-logo.png">
                <h1>Embedded NoSQL database for .NET</h1>
                <h2>An open source MongoDB-like database with zero conﬁguration - mobile ready</h2>
                
                <a class="install" href="https://www.nuget.org/packages/LiteDB" target="_blank">Install-Package LiteDB</a>
                
            </div>
            <div class="col-md-7" style="padding-top: 15px">
                <img class="screen" src="images/banner.gif">
            </div>
        </div>
    </div>
</div>

<div class="body-bg-1">
    <div class="container">
        <!-- Features Box -->
        <div class="row feature-box">
            <div class="col-md-4">
                <h1><i class="fa fa-check-square-o"></i>&nbsp;Standalone database</h1>
                <p>LiteDB is a serverless database delivered in a single small DLL (< 450kb) fully written in .NET C# managed code (compatible with .NET 4.5 and NETStandard 2.0).</p>
                <p>Install it via NuGet or just copy the DLL to your bin project folder.</p>
            </div>
            <div class="col-md-4">
                <h1><i class="fa fa-flash"></i>&nbsp;Fast and lightweight</h1>
                <p>LiteDB is a simple and fast NoSQL database solution. Ideal for:</p>
                <ul>
                    <li>Mobile Apps (Xamarin ready)</li>
                    <li>Desktop/local applications</li>
                    <li>Application file format</li>
                    <li>Web applications</li>
                    <li>One database per <b>account/user</b> data store</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1><i class="fa fa-cog"></i>&nbsp;And much more...</h1>
                <ul>
                    <li>Portable UWP and Xamarin iOS/Android</li>
                    <li>ACID transactions</li>
                    <li>Single datafile (like SQLite)</li>
                    <li>Recovery data in writing failure (<a href="https://en.wikipedia.org/wiki/Write-ahead_logging" target="_blank">WAL</a> mode)</li>
                    <li>Map your POCO class to BsonDocument</li>
                    <li>Fluent API for custom mapping</li>
                    <li>Cross collections references (DbRef)</li>
                    <li>Store files and stream data (like GridFS in MongoDB)</li>
                    <li>LINQ query support</li>
                    <li>FREE for everyone - including commercial use</li>
                </ul>
              </div>
        </div>
        
        <!-- Features Items -->
        <h1 class="feature-title">Features</h1>
        
        <div class="row feature-item">
            <div class="col-md-7">
                <img src="images/screen_5.png" />
            </div>
            
            <div class="col-md-5">
                <h2>SQL Syntax</h2>
                <ul>
                    <li>LiteDB supports SQL-like language for data and structure manipulations. You can insert, update, delete or query your database using a very similar SQL relational language</li>
                    <li>LINQ expressions (lambda functions) can be used to create fluent API query in your C# code</li>
                    <li>All SQL commands are supported in new <a href="https://github.com/mbdavid/LiteDB.Studio" target="_blank">LiteDB.Studio</a> admin tool</li>
                    <li>You can also get detailed EXPLAIN PLAN from the query engine to check if your query will run with the best performance</li>
                </ul>
            </div>
        </div>
        
        <div class="hr"></div>
        
        <div class="row feature-item">
            <div class="col-md-5">
                <h2>Awesome features</h2>
                <ul>
                    <li>Thread-safe with cross collection transaction</li>
                    <li>No locks for readers. Per collection writer locks</li>
                    <li>Partial document lookup/loader and index-only queries supported</li>
                    <li>FileStorage to store files and streams inside your database</li>
                    <li>System collections to easily import/export data and manage your database</li>
                </ul>
            </div>
            <div class="col-md-7">
                <img src="images/screen_3.png" />
            </div>
        </div>
        
        <div class="hr"></div>
        
        <div class="row feature-item">
            <div class="col-md-7">
                <img src="images/screen_4.png" class="gradient-bg" />
            </div>
            
            <div class="col-md-5">
                <h2>Work everywhere</h2>
                <ul>
                    <li>LiteDB is fully written in C# managed code</li>
                    <li>Support .NET Framework 4.5 and .NET Standard 1.3 and 2.0, .NET Core 2.0+, UWP, Linux, mobile Xamarin (iOS and Android), Unity... in every .NET platform</li>
                    <li>Did I mention that LiteDB is free and open source? <i class="fa fa-heart" style="color: red"></i></li>
                </ul>
            </div>
        </div>
        
        <div class="hr"></div>
        
        <h1 class="feature-title">LiteDB Community</h1>
        
        <div class="row feature-item">
            <div class="col-md-4" style="text-align: center">
                <img src="images/community.png" style="box-shadow: none;">
            </div>
            <div class="col-md-8">
                <p style="color: white">LiteDB is a growing community that needs your help. You can contribute with LiteDB in many ways:</p>
                <ul>
                    <li>Open a bug issue on <a href="https://github.com/mbdavid/LiteDB/issues" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                    <li>Chat with us on <a href="https://gitter.im/mbdavid/LiteDB"><i class="fa fa-gitter"></i> Gitter</a></li>
                    <li>Make a question on <a href="https://stackoverflow.com/questions/ask" target="_blank"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
                    <li>Answer these <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4cNG7wyLKXXcOLIt7Ea4TlXCG6s-51_EfHPu2p5WZ2dIx7A/viewform?usp=sf_link" target="_blank"><i class="fa fa-check-square-o"></i> few questions about how you use LiteDB</a></li>
                    <li>And follow us on <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4cNG7wyLKXXcOLIt7Ea4TlXCG6s-51_EfHPu2p5WZ2dIx7A/viewform?usp=sf_link" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<div class="team-bg">
    <div class="container">
        <h1>Meet LiteDB team</h1>
        <div class="row">
            <div class="col-md-4">
                 <img src="images/mbdavid.jpg">
                 <h3>Maurício David</h3>
                 <h4>Founder/Software Engineer<h4>
            </div>
            <div class="col-md-4">
                 <img src="images/kcsombrio.jpg">
                 <h3>Cassiano Sombrio</h3>
                 <h4>Software Engineer<h4>
            </div>
            <div class="col-md-4">
                 <img src="images/lbnascimento.jpg">
                 <h3>Leonardo Nascimento</h3>
                 <h4>Software Engineer<h4>
            </div>
        </div>
    </div>
</div>





{{ end }}

{{ define "footer_js" }}
{{ end }}
