body {
}

.nav-top {
	font-weight: bold;
	list-style: none;
	color:#BCBEC0;
	font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav-top li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-top a {
	color:#BCBEC0;
	font-weight: bold;
	padding: 10px 0px;
}

.nav-top a:hover {
	text-decoration: none;
	border-bottom: 3px solid #BCBEC0;
}

.install {
	text-align: center;
	margin: 30px;
	
}
.install span {
	background-color: #283542;
	color: #BCBEC0;;
	font-family: Courier New, Courier, monospace;
	font-size: 14px;
	padding: 15px;
}
.install a {
	background-color: #0e83cd;
	font-size: 14px;
	padding: 15px;
	color: white;
}


h1 {
	text-align: center;
	color:#BCBEC0;
	font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 300;
}

h2 {
	text-align: center;
	color:#BCBEC0;
	font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 300;
	margin: 30px 0px 40px;;
}

.social-share{
	width: 100px !important;
    height: 20px !important;
    border: none;
    overflow: hidden;
    margin: 2px;
}